* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: antiquewhite;
}

html {
    font-size: 16px
}

a {
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: larger;
    background-color: aliceblue;
    text-decoration: none;

    position: fixed;
    right: 2vw;
    bottom: 1.55vw;

    box-sizing: border-box;
    padding: 4px;
}

a:hover {
    text-decoration: underline;
    background-color:azure;
    border: 1.5px solid black;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading h1 {
    color: #101820FF;
    background-color: #FEE715FF ;
    border: 1.5px solid #101820FF;
    margin-top: 7px;
    padding: 0 5px;
}

.heading h1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.btn {
    margin: 2px;
    padding: 10px;
    background-color: aquamarine;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    border: 1.5px solid salmon;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.flex-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    border: 2px solid salmon;
    width: 95vw;
    margin: 1.11vh auto 1vh;
    padding: 10px;
    height: 75vh;
    background-color: aliceblue;
}

.main-container div {
    width: 2vw;
    background-color: yellowgreen;
}